<div class="container product-type-container">
  <h2 class="text-center">Product Types</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          Product Type
        </th>
        <th>
          Description
        </th>
        <th>
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let productType of productTypes">
        <td>{{productType.name}}</td>
        <td>{{productType.description}}</td>
        <td>
          <button class="btn btn-danger"
            (click)="onDeleteProductType(productType.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-success btn-block submit-button"
    (click)="onAddProductType()">Create New Product Type</button>
</div>
