<nav appClickOutside (clickOutside)="onClickOutset()"
  class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="http://www.edmuhlestein.com">Ed Muhlestein</a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu"
    [ngClass]="{'show': navBarOpen}">
    <ul class="navbar-nav mr-auto" id="NavBar">
      <li class="nav-item"><a class="nav-item nav-link"
          [routerLink]="['/producttype']" routerLinkActive="active">Product
          Types</a></li>
      <li class="nav-item"><a class="nav-item nav-link"
          [routerLink]="['/containertype']" routerLinkActive="active">Container
          Types</a></li>
      <li class="nav-item"><a class="nav-item nav-link"
          routerLink="/third-component" routerLinkActive="active">Third
          Component</a></li>
    </ul>
  </div>
</nav>
